.filter {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.filter div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 100px;
  padding-bottom: 5px;
}

.container {
  border: 1px rgba(0, 0, 0, 0.3) solid;
  box-shadow: 0 4px 8px 0 rgba(65, 41, 41, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.container:hover {
  background-color: rgba(100, 245, 250, 0.267);
}

.container:active {
  transform: scale(0.98);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
.background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

#arcana {
  background-image: url("https://www.trustedtarot.com/img/cards/wheel-of-fortune.png");
}

#cup {
  background-image: url("https://www.trustedtarot.com/img/cards/ace-of-cups.png");
}

#sword {
  background-image: url("https://www.trustedtarot.com/img/cards/ace-of-swords.png");
}

#wand {
  background-image: url("https://www.trustedtarot.com/img/cards/ace-of-wands.png");
}

#pentacle {
  background-image: url("https://www.trustedtarot.com/img/cards/ace-of-pentacles.png");
}

#all {
  background-image: url(https://www.trustedtarot.com/img/cards/the-world.png);
}

@media screen and (max-width: 600px) {
}
