.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  max-width: 100%;
  margin: 50px auto;
}

.filter {
  top: 0;
  display: inline-flex;
  justify-content: space-evenly;
  margin: 20px;
}

.filter div {
  display: inline-block;
}
